# ---------------------------------------------
# Run the following in the terminal you normally run pip in:
# pip install -r requirements.txt
#         ------ OR -------
# conda install --file requirements.txt
# -----------------------------------------


# Game modules
numpy
pygame
